<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkBDd-D3A78-iG_ry7WWd62bG1I3Bvx0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>363132590106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mobile-application-55116</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-application-55116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363132590106:ios:4795993175ffe11fb559a3</string>
</dict>
</plist>